<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>MariArt - Formulario de Ingreso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="container-fluid">
  <main>
    <div class="container w-75 p-2 border mt-2">
      <h2 class="text-white bg-dark">Loguin de Usuario</h2>
      <div class="container w-50 p-3">
        <form action="/login" method="POST" autocomplete="off">
          <div class="mb-3">
            <label for="nombre" class="form-label">Ingrese Email:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Ingrese Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-dark btn-lg" id="login">Login</button>
        </form>
        <hr>
        <button class="btn btn-dark btn-lg" id="register" onclick="location.href='/signup'">Ir al
          Registro</button>

      </div>
    </div>
  </main>

</body>

</html>